<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">Urbana-Champaign Independent Media Center
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">Million Hoodies Movement for Justice
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">Presente.org
                        <!-- <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">Center for Media Justice
                        <!-- <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">Enlace
                        <!-- <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">Media Alliance
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">Demand Progress
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">FAAN Mail
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">GetEQUAL
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">Wisconsin Jobs Now!
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
            </div>
        </div>
    </aside>
