<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.ucimc.org/" target="_blank">Urbana-Champaign Independent Media Center
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://millionhoodies.net/" target="_blank">Million Hoodies Movement for Justice
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://presente.org/" target="_blank">Presente.org
                        <!-- <img src="img/logos/envato.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://centerformediajustice.org/" target="_blank">Center for Media Justice
                        <!-- <img src="img/logos/designmodo.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.enlaceintl.org/" target="_blank">Enlace
                        <!-- <img src="img/logos/themeforest.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.media-alliance.org/" target="_blank">Media Alliance
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://demandprogress.org/" target="_blank">Demand Progress
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="https://faanmail.wordpress.com/" target="_blank">FAAN Mail
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://www.getequal.org/" target="_blank">GetEQUAL
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="http://wisconsinjobsnow.org/" target="_blank">Wisconsin Jobs Now!
                        <!-- <img src="img/logos/creative-market.jpg" class="img-responsive img-centered" alt=""> -->
                    </a>
                </div>
            </div>
        </div>
    </aside>
