<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Take Action</h2>
                    <h3><span style="color:#fff;">Hillary / DNC: Cut ties with private prisons!</span></h3>
                </div>
             </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" action="http://act.presente.org/act/microsite_hillaryprison" novalidate>
                      <input type="hidden" name="page" value="microsite_hillaryprison ">
                      <input type="hidden" name="source" value="microsite_hillaryprison ">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Name *" id="id_name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="id_email" class="form-control" placeholder="Your Email *" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Your Zip Code *" id="id_zip" required data-validation-required-message="Please enter your zip code.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Your Message *" id="id_comment" required data-validation-required-message="Leave your coments here."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl" >SIGN THE PETITION</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
