  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                  <ul class="list-inline quicklinks">
                    <li><span style="font-size:0.8em;">For media inquiries: media@presente.org</span></li>
                    <li><span style="font-size:0.8em;">For more information: info@presente.org</span></li>
                  </ul>
                </div>
                <div class="col-md-4">
                    <!-- <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul> -->
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><span style="font-size:0.8em;"><a href="#" data-toggle="modal" data-target="#myModal">Privacy Policy</a></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
