<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <small>Menu</small>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Downloads</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Take Action</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <div class="intro-lead-in">
                    Open Letter to Madam Secretary Hillary Clinton and DNC Chairwoman Schultz
                  </div>
                </div>
              </div>
              <br/>
              <br/>
              <div class="row">
                <div class="col-lg-12 text-left">
                  <!-- <div class="intro-heading"> -->
                  <span style="font-size:1.5em;">This Mother's Day<br/><br/>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac nisi non nulla lacinia porttitor ac non arcu. Suspendisse eu aliquam mauris. Curabitur blandit viverra fringilla. Nam nec nisi iaculis, elementum justo vitae, egestas quam. Etiam at eleifend tellus, quis dictum lacus. Etiam sit amet ullamcorper ligula. Nullam eget tellus ut massa sagittis tempus. Nulla posuere nulla tristique odio gravida.</span>
                </div>
              </div>
            </div><!-- end of intro-text-->
        </div> <!-- end of container -->
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
