<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <small>Menu</small>
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Downloads</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Take Action</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
              <div class="row">
                <div class="col-lg-12 text-center">
                  <div class="intro-lead-in">
                    Open Letter to Madam Secretary Hillary Clinton and DNC Chairwoman Schultz
                  </div>
                </div>
              </div>
              <br/>
              <br/>
              <div class="row">
                <div class="col-lg-12 text-left">
                  <!-- <div class="intro-heading"> -->
                  <span style="font-size:1.5em;">Dear Madam Secretary Hillary Clinton and DNC Chairwoman Schultz,<br/><br/>
                    We, the undersigned, write to express our dismay that Secretary Clinton's campaign solicited and accepted financial contributions from money bundlers representing the private prison industry. Accepting these tainted contributions from an industry whose business model relies on the brutal mass incarceration of Black and Brown bodies is a direct affront to the health, fortune, and very lives of the Democratic Party's many African-American, Latino, and Asian voters.<br/><br/>
                    On behalf of our organizations' millions of members — representing some of the Democratic Party's most important constituencies — we call upon Secretary Clinton and the Democratic National Committee to disavow the private prison industry and publicly reject all money contributed by the private prison industry this cycle, and going forward.<br/><br/>
                    Private prison companies like the GEO Group, the Corrections Corporation of America, and others make billions of dollars from our broken and discriminatory criminal justice system by disproportionately locking up African-Americans and Latinos for profit. As both policymakers and the public seek alternatives to incarceration, the private prison lobby has deliberately and insidiously leveraged its growing political clout to introduce or support policies that create artificial demand for prison beds. This leads to over-policing, disproportionate enforcement in communities of color, immigrant and poor communities; and ultimately, to needless and unjust imprisonment.<br/><br/>
                    The numbers bear out this troubling reality. The percentage of immigrants held in private facilities, particularly those owned by CCA and the GEO Group — the two largest for-profit prison companies — rose from 49% in 2009 to 62% today. And at the state and municipal level, a study at UC-Berkeley has found that private prisons are packed with young people of color who are at greater risk of suffering violence inside of prison than out, and are provided inadequate education and rehabilitation opportunities. <br/><br/>
                    While it has been encouraging to hear some of Secretary Clinton's perspectives on criminal justice reform in recent months, her words cannot be taken seriously while her actions are so far out of step with her pronouncements. She cannot critique mass incarceration on the one hand, while graciously accepting the money from the machinery of mass incarceration with the other.<br/><br/>
                    We call on the Democratic Party and all of its officials and candidates to come into alignment with its values, and with the values of many of its constituents, by rejecting for-profit incarceration, disavowing the private prison industry, and to clearly oppose the use of private prisons in your policy platforms.<br/><br/>
                    We welcome the opportunity to discuss this with you further.<br/><br/>
                    Sincerely, </span>
                    <!-- Presente.org<br/>
                  Center for Media Justice<br/>
                  Enlace<br/>
                  Drug Policy Alliance<br/>
                  Urbana-Champaign Independent Media Center<br/>
                  Media Alliance<br/>
                  Million Hoodies Movement for Justice<br/>
                  Demand Progress<br/>
                  FAAN Mail<br/>
                  Enlace<br/>
                  GetEQUAL<br/>
                  Wisconsin Jobs Now!<br/>
                  And others…</p> -->
                  {% include clients.html %}
                  <!-- References:<br/>
                  Private Prison Lobbyists Are Raising Cash for Hillary Clinton, The Intercept, July 23, 2015.<br/>
                  https://firstlook.org/theintercept/2015/07/23/private-prison-lobbyists-raising-cashhillary-clinton/<br/><br/>
                  Private Prisons Spend $45 Million On Lobbying, Rake In $5.1 Billion For Immigrant Detention Alone, Think Progress, August 3, 2012.
                  http://thinkprogress.org/justice/2012/08/03/627471/private-prisons-spend-45-million-onlobbying-rake-in-51-billion-for-immigrant-detention-alone/<br/><br/>
                  The US Keeps 34,000 Immigrants in Detention Each Day Simply to Meet a Quota, The Nation, August 13, 2015.<br/> http://www.thenation.com/article/us-keeps-34000-immigrants-detention-eachday-simply-meet-quota/<br/><br/>
                  The Math of Immigrant Detention, National Immigration Forum, August 22, 2013.<br/>
                  https://immigrationforum.org/blog/themathofimmigrationdetention/<br/><br/>
                  Lobbyists Fundraising for Clinton, Bush, Rubio and Kasich Are Coworkers, The Intercept, July 22, 2015.<br/>
                  https://theintercept.com/2015/07/22/top-fundraisers-hillary-clinton-jeb-bush-worklobbying-firm/<br/><br/>
                  Payoff: How Congress Ensures Private Prison Profit with an Immigrant Detention Quota, Grassroots Leadership Report, April 2015.<br/> http://grassrootsleadership.org/reports/payoff-howcongress-ensures-private-prison-profit-immigrant-detention-quota -->
                  <!-- </div> -->
                </div>
              </div>

            </div><!-- end of intro-text-->
        </div> <!-- end of container -->
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->
