<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6" style="padding-bottom:15px;">
                  <a href="https://s3.amazonaws.com/s3.presente.org/images/hillaryopenletter.pdf" target=_blank"" class="page-scroll btn btn-xl">Download Open Letter</a>
                </div>
                <div class="col-md-6">
                  <a href="https://www.documentcloud.org/documents/2178532-clintonbundlers.html" target="_blank" class="page-scroll btn btn-xl">View Contributions Report</a>
                </div>
            </div>
            <div class="row text-center">
              <div class="row">
              </div>
            </div>
        </div>
    </section>
